<h1 class="title-page">Funcionamento</h1>

<h4>Funcionalidades do sistema</h4>
<div class="box-imput">
	<ol>
		<li>O tempo máximo de locação é de 30 dias.</li>
		<li>Após 30 dias o status do livro será atualizado para atrasado.</li>
		<li>O usuário só poderá alugar o livro caso ele esteja com seu cadastro atualizado (nome e telefone).</li>
		<li>O usuário só poderá alugar um livro por vez.</li>
		<li>Após alugar um livro o usuário só poderá alugar o mesmo depois de 10 dias.</li>
		<li>Quando o usuário devolver o livro, o administrador deverá conferir se o mesmo foi devolvido, só assim o livro voltará a ficar disponível no sistema.</li>
		<li>E-mails:
			<ol type="I">
				<li> Ao alugar o livro o usuário e os adminstradores serão notificados.</li>
				<li> 10 dias antes da data de entrega o usuário será notificado.</li>
				<li> Quando o status do livro ficar como atrasado os administradores e o usuário serão notificados.</li>
				<li> Enquanto o livro continuar atrasado os administradores e o usuário serão notificados novamente toda segunda-feira.</li>
				<li> Quando o usuário devolver o livro os administradores serão notificados e deverão conferir se o mesmo foi devidamente devolvido.</li>
				<li> Enquanto os administradores não conferirem se o livro foi devolvido corretamente eles serão notificados toda segunda-feira.</li>
			</ol>
		</li>
	</ol>
</div>
<br>
<h4>Conduta do usuário</h4>
<div class="box-imput">
	<ol>
		<li>O usuário deverá manter seus dados sempre atualizados.</li>
		<li>Antes de pegar o livro o usuário deverá alugá-lo através do sistema.</li>
		<li>O usuário deverá devolver o livro no prazo de 30 dias.</li>
		<li>Ao devolver o livro o usuário deverá marcar como devolvido imediatamente.</li>
		<li>Caso um ex membro deseje alugar um livro ele deverá solicitar ao administrador que crie uma conta com seu <strong>e-mail pessoal.</strong>.</li>
	</ol>
</div>
<br>
<h4>Conduta do administrador</h4>
<div class="box-imput">
	<ol>
		<li>O administrador deverá solicitar a devolução dos livros atrasados aos respectivos usuários.</li>
		<li>O administrador deverá verificar se o livro foi corretamente devolvido e confirmar no sistema.</li>
	</ol>
</div>