<h1 class="title-page">Funcionamento</h1>

<h4>Funcionalidades do sistema</h4>
<div class="box-imput">
	<ol>
		<li>O tempo de locação de um livro é de 30 dias.</li>
		<li>Após 30 dias, os status são atualizados para atrasaddo.</li>
		<li>O usuario so pode alugar o livro caso ele tenha atualizado seu telefone celular e seu nome no sistema.</li>
		<li>O usuario so pode alugar um livro por vez.</li>
		<li>Apos alugar um livro, o usuario so pode alugar o mesmo depois de 10 dias.</li>
		<li>quan o usuario devolver o livro, o administrador deve conferir se o mesmo foi devolvido, só assim o livro volta a ficar disponível.</li>
		<li>E-mails:
			<ol type="I">
				<li> Ao alugar o livro, o usuario e os adminstradores são notificados.</li>
				<li> +- 10 dias antes da data de entrega o usuario é notificado.</li>
				<li> quando o status do livro fica como atrasado, os admin e o usuario são notificados.</li>
				<li> Toda segunda-feira que o livro continuar como atrasado os admin e o usuario serão notificados novamente</li>
				<li> Quando o usuario devolver o livro, o admin sera notificado e deve conferir se o mesmo foi devidamente devolvido</li>
				<li> Enquanto o admin não conferir se o livro foi ou não devolvido corretamente, ele sera lembrado toda seggunda-feira.</li>
			</ol>
		</li>
	</ol>
</div>
<br>
<h4>Conduta de usuario</h4>
<div class="box-imput">
	<ol>
		<li>O usuario deve manter seus dados atualizados</li>
		<li>Antes de pegar o livro, o usuario deve alugar o livro pelo sistema.</li>
		<li>O usuario deve devolver o livro antes de 30 dias.</li>
		<li>Ao devolver o livro, o usuario deve marcar imediatamente no sistema como devolvido</li>
	</ol>
</div>
<br>
<h4>Conduta de admin</h4>
<div class="box-imput">
	<ol>
		<li>O admin deve cobrar o usuario de devolverr o livro quando estiver atrasado.</li>
		<li>O admin deve verificar se o livro foi corretamente devolvido, e marcar no sistema.</li>
	</ol>
</div>